<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tríptico</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Columna Izquierda -->
    <div class="column left">
        <div class="left-block">
            <form>
                <input type="text" placeholder="BUSCAR ARTISTA" />
                <button type="submit">Buscar</button>
            </form>
        </div>
        <div class="left-block">
            <form>
                <input type="text" placeholder="BUSCAR GENERO" />
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>

   <!-- Columna Central -->
<div class="column center">
    <h1>TOP 4 CANCIONES</h1>
    <div class="blocks-container">
        {% for track in top_tracks %}
        <div class="block">
            <a href="{{ track.url }}" target="_blank">
                <p><strong>{{ track.name }}</strong> - {{ track.artist }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Columna Derecha -->
<div class="column right">
    <h1>ARTISTAS MÁS ESCUCHADOS</h1>
    <div class="blocks-container">
        {% for artist in top_artists %}
        <div class="block">
            <img src="{{ artist.picture }}" alt="{{ artist.name }}" class="artist-image">
            <p>{{ artist.name }}</p>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
