:root {
  --stripe-size: 100px;
  --color1: #c44;
  --color2: #313131;
  --duration: 2s;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at center, rgba(27, 39, 53, 0) 0%, #090a0f 100%);
}

.stripe {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stripe::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + var(--stripe-size));
  height: 100%;
  background: repeating-linear-gradient(
    45deg, var(--color2) 25%, var(--color2) 50%, var(--color1) 50%, var(--color1) 75%
  );
  background-size: var(--stripe-size) var(--stripe-size);
  animation: stripeTransform var(--duration) linear infinite;
  z-index: -1;
}

.stripe_inner {
  font-size: 8rem;
  text-align: center;
  font-family: 'Arial', sans-serif; /* Usamos una fuente estándar del sistema */
  color: white; /* Color blanco sólido */
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-weight: 800; /* Usamos un peso de fuente grueso */
  text-transform: uppercase; /* Letras en mayúsculas */
  letter-spacing: 0.2rem; /* Espaciado entre letras */
  transition: all 0.3s ease-in-out;
  
  /* Agregamos sombra para darle profundidad */
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3), 0 0 25px rgba(255, 255, 255, 0.5);
  
  /* Sombra interna para darle un efecto de luz */
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
}

.stripe_inner:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el ratón */
  color: #fff; /* Asegura que el texto se mantenga blanco */
  text-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 105, 180, 1); /* Efecto de brillo */
}


@keyframes stripeTransform {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--stripe-size) * -1));
  }
}
